<!DOCTYPE html>
<html>
<head>
  <title>Ppay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="/color_admin/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="/color_admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/color_admin/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/color_admin/assets/css/animate.min.css" rel="stylesheet" />
	<link href="/color_admin/assets/css/style.min.css" rel="stylesheet" />
	<link href="/color_admin/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="/color_admin/assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    	<link href="/color_admin/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/color_admin/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>

<body class="pace-done">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<div class="navbar-brand">
						<span class="navbar-logo"></span>
						<big>沃银金融</big>
						<span style="font-size:12px;">渠道系统</span>
					</div>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter keyword" />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</li>
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="fa fa-bell-o"></i>
							<span class="label">5</span>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">111</li>
                            <li class="media">
                                <a href="#">
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">222</h6>
                                        <div class="text-muted f-s-11">0 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="media-left"><img src="assets/img/user-1.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">333</h6>
                                        <p>333</p>
                                        <div class="text-muted f-s-11">0 minutes ago</div>
                                    </div>
                                </a>
                            </li>

                            <li class="dropdown-footer text-center">
                                <a href="#">more</a>
                            </li>
						</ul>
					</li>
					<li class="dropdown navbar-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="/color_admin/assets/img/user-13.jpg" alt="" />
							<span class="hidden-xs">WXL</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="#">444</a></li>
							<li><a href="#"><span class="badge badge-danger pull-right">2</span> 555</a></li>
							<li><a href="#">666</a></li>
							<li><a href="#">777</a></li>
							<li class="divider"></li>
							<li><a href="mylogin.html">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="image">
							<a href="javascript:;"><img src="/color_admin/assets/img/user-13.jpg" alt="" /></a>
						</div>
						<div class="info">
							WXL
							<small>wxl</small>
						</div>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<!-- <li class="nav-header">Navigation</li> -->
					<li class="has-sub active">
						<a href="myhome.html">

						    <i class="fa fa-laptop"></i>
						    <span>首页</span>
					    </a>
					</li>
					<li class="has-sub">
						<a href="#">
							<b class="caret pull-right"></b>
							<i class="fa fa-suitcase"></i>
							<span>商户数据</span>
						</a>
						<ul class="sub-menu">
						    <li><a href="mytrades_customer.html">商户数据</a></li>

						</ul>
					</li>
					<li class="has-sub">
						<a href="#">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-suitcase"></i>
						    <span>交易数据</span>
						</a>
						<ul class="sub-menu">
							<li><a href="mytrades_selectdata.html">查询</a></li>
							<li><a href="mytrades_importdata.html">导入</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="#">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-area-chart"></i>
						    <span>统计报表</span>
						</a>
						<ul class="sub-menu">
							<li><a href="myreport.html">统计报表</a></li>

						</ul>
					</li>
					<li class="has-sub">
						<a href="#">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-cogs"></i>
						    <span>用户管理  </span>
						</a>
						<ul class="sub-menu">
							<li><a href="myuser.html">用户管理</a></li>
						</ul>
					</li>
			        <!-- begin sidebar minify button -->
					<li><a href="#" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div id="content" class="content">
			<%= yield %>
		</div>
	</div>
		<!-- ================== BEGIN BASE JS ================== -->
	<script src="/color_admin/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="/color_admin/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="/color_admin/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="/color_admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="/color_admin/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="/color_admin/assets/crossbrowserjs/respond.min.js"></script>
		<script src="/color_admin/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="/color_admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/color_admin/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="/color_admin/assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="/color_admin/assets/js/dashboard.min.js"></script>
	<script src="/color_admin/assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			Dashboard.init();
		});
	</script>
</body>



</html>
